@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

:root {
    --purple: #5356FF; /* Blue */
    --dark-blue: #378CE7; /* Gray */
    --blue: #67C6E3; /* Yellow */
    --light-blue: #DFF5FF; /* Yellow */
    --dark-blue-highlighted: #6baff8;
    --light-blue-highlighted: #afd9eb;
}

nav{
  background-color: var(--dark-blue);
  min-height: 6vh;
}

main{
  background-color: var(--blue);
  min-height: 100vh;
}

footer{
  background-color: var(--dark-blue);
  min-height: 6vh;
}