* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: var(--blue);
    /* border: 2px solid lime; */
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    min-height: 90vh;
    margin: 2rem;
    /* border: 2px solid blue; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form__reset-btn{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    
    max-width:20rem;
    max-height: 20rem;
    width: 12rem;
}

.form__reset-btn a{
    color:#eee;

}

.form__submit{
    flex-direction: column;
}

@media screen and (min-width: 540px) {
    .form__submit{
        flex-direction: row;
    }
    
}