* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    /* border: 5px solid red; */
}
