@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MOBILE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    background-color: var(--blue);
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    min-height: 100vh;
}

.logo-section img{
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: 10rem;
}

#title-section__title{
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 0.2rem 0.32rem var(--dark-blue);
}

.nav-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
}

.nav-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--dark-blue);
    border: 1px solid var(--purple);
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    transition: 0.15s all linear;
}

.nav-section a:hover{
    background-color: var(--dark-blue-highlighted);
}

footer{
    display: none;
}

/* TABLET */
@media screen and (min-width: 500px) {
    #title-section__title{
        font-size: 3rem;
    }
    .nav-section {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    #nav-section__title{
        grid-column: span 2;
    }
}

/* DESKTOP */
@media screen and (min-width: 650px){
    #title-section__title{
        font-size: 4rem;
    }
}