@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    padding: 4rem 2rem;
}

.visit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visit-section{
    margin-top: 2rem;
    text-align: center;
}

#title-section, #status-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
}


.visit-section__table{
    /* gap: 2rem; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.visit-section__th {
    font-weight: 500;
    text-align: right;
    padding: 0.5rem;
    background-color:rgb(143, 185, 206);
}
.visit-section__td{
    text-align: left;
    padding: 0.5rem;
    background-color: lightgray;
}

.visit-section__table--complete {
    color: green;
    font-weight: bold;
}

.visit-section__table--unavailable {
    color: gray;
    font-style: italic;
    font-weight: bold;
}

#export-section {
    width: 70%;
    padding: 1rem 0 0 0;
}

.visit-section__grid-table {
    display: grid;
    grid-template-columns: 1fr;
}
.visit-section__grid-table h4 {
    margin-top: 0.8rem;
}
.visit-section__button{
    background-color: var(--light-blue);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-width: 0.01rem;
}

#inmate-input, #search-button {
    padding: 0.8rem;
    border: 2px solid var(--light-blue);
    border-radius: 1rem;
}
#random-wrapper {
    margin: 2rem;
    gap:1rem;
    display: flex;
    justify-content: center;
}

/* TABLET */
@media screen and (min-width: 700px) {
    #title-section, #status-section, #export-section {
        width: 70%;
    }
}

/* DESKTOP */
@media screen and (min-width: 1000px) {
    #title-section, #status-section, #export-section {
        width: 40%;
    }
    .visit-section__grid-table {
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0.5rem;
    }
}