@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MOBILE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#filter-section {
    /* border: 1px solid red;   */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    padding: 1rem 4rem 4rem 4rem;
}
.filter{
    display: flex;
    flex-direction: column;
}
.filter label{
    font-weight: bold;
}
.filter input{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#list-section {
    width: 100%;
    padding: 1rem 4rem 4rem 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.list-item{
    background-color: var(--light-blue);
    min-width: 10rem;
    min-height: 2rem;
    border: 1px solid var(--dark-blue);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: black;
    transition: 0.15s all linear;
}

.list-item:hover{
    background-color: var(--light-blue-highlighted);
}

.inmate-name{
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

/* TABLET */
@media screen and (min-width: 500px) {
    #list-section{
        grid-template-columns: 1fr 1fr;
    }
    #filter-section{
        grid-template-columns: 1fr 1fr;
    }
}

/* DESKTOP */
@media screen and (min-width: 650px){
    #filter-section{
        grid-template-columns: 1fr 1fr 1fr;
    }
}